@import "tailwindcss";

@theme {
  --color-bg: rgb(245, 246, 250);
  --color-pri: rgb(83, 87, 182);
  --color-text-bold: rgb(51, 66, 83);
  --color-text: rgb(103, 114, 126);
  --color-pri-red: rgb(237, 99, 104);
}